@charset "UTF-8";
/* CSS Document */


/* General page visual attributes. */
html, body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}
body{
	background: linear-gradient(#1E94FF, papayawhip 60%);
	background-repeat: no-repeat;
	height: 100%;
}


/* .mainNav visual attributes. */
.mainNav{
	text-align: center;
	padding: 30px 0px 30px 0px;
	margin: 0px;
}
.mainNav .navDiv{
	display: inline-block;
	vertical-align: middle;
	padding: 0px 20px 0px 20px;
}


/* #nameDiv visual attributes. */
.mainNav #nameDiv .nameDivLabels{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	letter-spacing: 5px;
	list-style-type: none;
	text-align: right;
	padding: 0px;
}
.nameDivLabels a{
	text-decoration: none;
	color: #000000;
}
#artByLabel{
	font-size: 9pt;
}


/* #linksDiv visual attributes. */
#linksDiv {
	width: 100px;
	height: 100px;
	padding: 10px;
}
.mainNav #linksDiv .navDivLinks{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	letter-spacing: 5px;
	list-style-type: none;
	text-align: left;
	padding: 0px;
}
.navDivLinks a {
	text-decoration: none;
	color: papayawhip;
}
#portfolioLink:hover{
	color: #000000;
}
#resumeLink:hover{
	color: #000000;
}
#contactLink:hover{
	color: #000000;
}
#aboutLink:hover{
	color: #000000;
}