<!doctype html>
<html>

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="navigation.css">
<title></title>
</head>

<body>
	<!--Navigation bar-->
	<div class="mainNav">
		<!--Name section of navigation-->
		<div class="navDiv" id="nameDiv">
			<ul class="nameDivLabels">
				<li><b><a href="../../Pages/SplashPage/splashPage.html" id="nameLabel">CHRISTINA NOE</a></b></li>
				<li><i><a href="../../Pages/SplashPage/splashPage.html" id="artByLabel">PROGRAMMER & ARTIST</a></i></li>
			</ul>
		</div>
		<!--Links section of navigation-->
		<div class="navDiv" id="linksDiv">
			<ul class="navDivLinks">
				<li><a href="../../Pages/GraphicDesign/graphicDesign.html" id="portfolioLink">PORTFOLIO</a></li>
				<li><a href="../../Pages/Resume/resume.html" id="resumeLink">RESUME</a></li>
				<li><a href="../../Pages/Contact/contact.html" id="contactLink">CONTACT</a></li>
				<li><a href="../../Pages/About/about.html" id="aboutLink">ABOUT</a></li>
			</ul>
		</div>	
	</div>
</body>

</html>
